.container {
  margin: 0 auto;
}

input[type="text"] {
  width: 80px;
  padding: 4px;
  border: none;
  outline: none;
}
table {
  border-collapse: collapse;
}
td {
  position: relative;
}
.header {
  padding: 8px;
}
input[type="color"] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border: none;
}

/* .save {
  border: 0;
  padding: 0.6rem 2rem;
  border-radius: 6px;
  background-color: #25b142;
  color: #fff;
  font-weight: 600;
  margin: 1rem;
} */
.addRow,
.addCol,
.save {
  border: 0;
  padding: 0.6rem 1rem;
  background: #25b142;
  border-radius: 6px;
  font-weight: 600;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}
/* .addRow:hover,
.addCol:hover {
  background-color: #25b142;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
} */
.colorPicker {
  height: 10px;
  opacity: 0;
}

.cell-box:hover .colorPicker {
  opacity: 1;
}
.tableContainer {
  border-color: #ddd;
}
